body {
    background-image: url(https://images.pexels.com/photos/8274055/pexels-photo-8274055.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-header-text {
    text-align: center;
    color: grey;
    background-color: black;
    padding: 20px;
    margin: -10px;
    font-family:'Times New Roman', Times, serif;
}

.main-header-text h1 {
    letter-spacing: 5px;
    color: white;
}

.main-header-text h3 {
    letter-spacing: 2px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images img {
    width: 300px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 30px;
    border-style: ridge;
    border-width: 5px;
    border-color: brown;
}