body {
    background-image: url(https://images.pexels.com/photos/8274055/pexels-photo-8274055.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-header-text {
    text-align: center;
    color: grey;
    background-color: black;
    padding: 20px;
    padding-bottom: 50px;
    margin: -10px;
    font-family:'Times New Roman', Times, serif;
}

.main-header-text h1 {
    letter-spacing: 5px;
    color: white;
}

.main-header-text h3 {
    letter-spacing: 2px;
}

.main-header-text .nav-bar {
    display: flex;
    color: white;
    gap: 10px;
    font-size: 15pt;
    justify-content: end;
    margin-top: -120px;
}

.main-header-text a {
    color: white;
    text-decoration: none;
}

.main-header-text a:hover{
    color: blue;
    text-transform: uppercase;
}

.images ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    /* width: 300px; */
    height: 300px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 30px;
    border-style: ridge;
    border-width: 5px;
    border-color: brown;
}

