.main-header-text {
    text-align: center;
    color: grey;
    background-color: black;
    padding: 20px;
    margin: -10px;
    font-family:'Times New Roman', Times, serif;
}

.main-header-text h1 {
    letter-spacing: 5px;
    color: white;
}

.main-header-text h3 {
    letter-spacing: 2px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.images img {
    width: 300px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}